/**
 * @file
 *  Styling for the item list page.
 * 
 * @author 
 *  Daniel Yule <dyule@unbc.ca>
 * 
 * @copyright
 * 
 *  Copyright 2012 Geoffrey R Weller Library, University of Northern British Columbia
 * 
 *  This file is part of Jarrow ETD Module.
 *
 *  Jarrow is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Jarrow is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Jarrow.  It can be found in the file COPYRIGHT.txt in 
 *  the root directory.  If not, see <http://www.gnu.org/licenses/>.
 */

#data_model_filter {
  margin-left: 15px;
  text-transform: none;
}
#data_model_header_cell * {
  float: right;
}
tr.subheader {
  font-size: smaller;
  background-color: #E4E4FF;
  height: 15px;
}
tr.subheader td {
  height: 15px;
  padding: 0px 10px;
}
tr.subheader a {
  color: inherit;
  font-weight: bold;
}
.item_row td a.delete_link {
  color: #8b0000;
  float: right;
  margin-right: 50px;
}
table#items {
  width: inherit;
}
table#items tr td:first-child {
  padding-right: 50px;
}

