/**
 * @file
 *  Styling for the item editing page common to all items.
 *  
 *  Some items have additional styling.
 * 
 * @author 
 *  Daniel Yule <dyule@unbc.ca>
 * 
 * @copyright
 * 
 *  Copyright 2012 Geoffrey R Weller Library, University of Northern British Columbia
 * 
 *  This file is part of Jarrow ETD Module.
 *
 *  Jarrow is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Jarrow is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Jarrow.  It can be found in the file COPYRIGHT.txt in 
 *  the root directory.  If not, see <http://www.gnu.org/licenses/>.
 */


#itm_name input {
  font-size: inherit;
  padding: 0;
}

#itm_meta_data {
  float: left;
  clear: both;
}

#itm_meta_data h3 {
  font-size: 9pt;
  font-weight: normal;
}

#itm_meta_data h3 a {
  font-weight: bold;
}

#option_panel {
  float: left;
  max-width: 40%;
}

.control_box #commit_message {
  /*    top: 0;
  float: right;
  margin-bottom: 0;
  position: absolute;
  right: 0;
  float: left;
  width: 95%;*/
  background-color: #EEEEFF;
  border: 2px solid #CCCCEE;
  border-radius: 10px 10px 10px 10px;
  clear: both;
  font-size: larger;
  line-height: 1.5em;
  padding: 10px;
  max-width: 300px;
  margin-bottom: 15px;
}

.control_box button.ui-button,.control_box input.ui-button {

}


#item_title_bar{
  max-width: 1200px;
  width: 100%;
  float: left;
  clear: both;
  position: relative;
  margin-bottom: 10px;
}


#message_field {
  margin-left: 75px;
  margin-bottom: 15px;
  font-style: italic;
  clear: both;
  height: 1em;
}


#config_form {
  /*background-color: #EEEEEE;
  padding: 0.1% 0.4%;*/

  /*max-width: 450px;
  width: 40%;
  position: relative;*/
}

#config_form  > * {
  margin-left: 10px;
  margin-right: 10px;


}




#collection_form {
  float: left;
  clear: both;
  max-width: 600px;
  width: 55%;
  margin-right: 4%;
  min-height: 30px;
}

.item-list ul li.jarrow_add_item_header{
  list-style: none outside none;
  
}

.item-list ul li.jarrow_add_item{
  list-style: none outside none;
  background-color: #FFEEEE;
  border: 1px dotted gray;
  font-size: 12pt;
  margin: 5px;
  min-height: 1em;
  padding: 5px 25px;

}

.data_model_tree ul li {
    list-style: none outside none;
  background-color: #FFEEEE;
  border: 1px dotted gray;
  font-size: 12pt;
  margin: 5px;
  min-height: 1em;
  padding: 5px 25px;

}

.data_model_tree ul li>div:hover {
  background: inherit;
}

#digital_object_container{
  margin-left: 55%;
  border: 1px solid lightgrey;
  padding: 5px 10px;
  max-width: 200px;
}

#digital_object_select{
  width: 175px;
}
