/**
 * The following is blatantly stolen from system.css in the core system module.
 */
.jarrow-configure {
  background: url("imgs/configure.png") no-repeat scroll 0 50% transparent;
  display: block;
  padding: 1px 0 1px 20px;
  white-space: nowrap;
}

.ui-button-text-only .ui-button-text {
    padding: 0;
}

#overlay {
    background-image:url(/media/img/overlay/transparent.png);
    color:#efefef;
    height:450px;
}

/* container for external content. uses vertical scrollbar, if needed */
div.contentWrap {
    height:441px;
    overflow-y:auto;
}

/* the overlayed element */
.apple_overlay {

    /* initially overlay is hidden */
    display:none;

    /* growing background image */
    background-image:url(/media/img/overlay/white.png);

    /*
      width after the growing animation finishes
      height is automatically calculated
      */
    width:640px;

    /* some padding to layout nested elements nicely  */
    padding:35px;

    /* a little styling */
    font-size:11px;
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
    background-image:url(/media/img/overlay/close.png);
    position:absolute; right:5px; top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
}

