<p>A data model represents every piece of metadata about a submission.  If there is something that needs to be recorded about a submission, even temporarily, then it must be included.</p>
<p>A data model is constructed out of data elements.  Each data element corresponds to a particular meta-datum about the submission.  For example, there will be a data element for the title, for the abstract and for the keywords, but there will also be data elements for a private defense request, for the grade received and many other components.</p>
<p>Data elements are arranged in a hierarchy, with data elements being able to be added directly to the data model or to groups, which are themselves added to the data model or to other groups.  The hierarchy is strictly for organization, and has no effect on the metadata once exported to the Institutional Repository.</p>
<p>Data Elements are stored in the <tt>etd_data_elements</tt> table.  They have the following properties:</p>
<dl>
  <dt>Name</dt><dd>This is the name of the data element.  It is how the administrator identifies this data element, both within the data model and the form editor, but it can be overridden in the form editor to display something else to the end user.</dd>
  <dt>Description</dt><dd>The description of a data element is currently completely ignored, but should at some point in the future be updated to display a tooltip to administrators in the form editor.</dd>
  <dt>Source</dt><dd></dd>
  <dt>Type</dt><dd>The type of a data element determines not only what datatype it has, but also how it is displayed.  Essentially, this works like a combination of the field type and widget fields in Drupal's field api.  </dd>
</dl>

