<p>After installing Jarrow and its required dependencies, the system must be set up to follow the workflow you want.  This guide assumes you are starting from a blank slate.</p>
<h2>Creating a Data Model</h2>
<p>To create a Data Model,
<ol>
    <li>Go to Configuration->Jarrow->Workflows->Data Model</li>
    <li>Click "Add new Data Model" and give it a name</li>
    <li>Click "Create"</li>
</ol>
<p>Once your data model has been created, you can create data elements to be associated with it.  You will need to create a data element for every piece of meta-data related to the thesis or defense that you wish to collect, except for items related to the identities of the people involved and to supplementary files, which are handled by the Roles and Digital Objects components of the data model respectively.</p>
<p>To create a data element, select the type of element you want from the list on the right, and drag it onto the data model.  You can also create groups for organization, and drag around already created elements to better organize them.  Groups also make creating forms easier down the line.</p>
<h3>Data Elements</h3>
<p>After a data element has been created, and also any time you double click a data element, a dialog pops up to allow you to configure the data element.  The dialog has the following properties.
<dl>
    <dt>Name</dt><dd>The name of the data element.  This name is internal, and will not be shown to users of the workflow.  It will be used for creating the forms.</dd>
    <dt>Description</dt><dd>Describes the data elements.  Used internally for creating forms.</dd>
    <dt>Source</dt><dd>The source that the data element will pull its information from.  Most data elements come from the form, which means they can be entered by the users, but they can also be pulled in from Drupal or from administrative software such as <a href='http://www.ellucian.com/'>Banner</a> or <a href='http://www.oracle.com/us/products/applications/peoplesoft-enterprise/human-capital-management/overview/index.html'>Peoplesoft</a>.</dd>
    <dt>Type</dt><dd>The type of the data element.  This determines how the data element is displayed, as well as what kind of data it stores</dd>
    <dt>Dublin Core Mapping</dt><dd>Set which Dublin Core field this data element should map into once dumped into the Institutional Repository</dd>
</dl>
<h3>Element Sources</h3>
<p>Sources dictate the place where the data in the data element comes from.  If you want it to be entered by a user as part of the workflow, then the source is form.  If the data is coming from elsewhere, then you can select other locations to pull the data from.</p>
<h4>Digital Objects</h4>
<p>Any supplementary files that you wish to collect can be configured through the Digital Objects subtab.  Each digital object has a type, which limits the types of files that can be uploaded.  Add a digital object for each type of supplementary file you would like to include.  The file types are controlled by the Drupal core Files module.  See the <a href='http://drupal.org/documentation/modules/file'>files module page</a> for more information.</p>
<p>All digital objects have their own associated data model, which can be configured from the Elements subtab.  Above the status box is a drop down that allows you to choose which digital object&apos;s data model you are editing.</p>
<ul>
</ul>