/**
 * @file
 *  Styles the process editing page.
 * 
 * @author 
 *  Daniel Yule <dyule@unbc.ca>
 * 
 * @copyright
 * 
 *  Copyright 2012 Geoffrey R Weller Library, University of Northern British Columbia
 * 
 *  This file is part of Jarrow ETD Module.
 *
 *  Jarrow is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Jarrow is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Jarrow.  It can be found in the file COPYRIGHT.txt in 
 *  the root directory.  If not, see <http://www.gnu.org/licenses/>.
*/

/*.stage_content div:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}*/
.stage_content>div {
  min-height: 1em;
}
.stage_control {
  clear: both;
}
.form_instance, .page_instance {
  border-top: 20px solid #3366FF;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  width: 120px;
  margin-right: 7px;
  margin-bottom: 7px;
  min-height: 60px;
  padding: 10px;
  border-radius: 10px;
  float: left;
  background-color: #ffffff;
}
.form_instance:hover {
  background-color: #EFEFEF;
}
.stage_content .ui-sortable-placeholder {
  border-top: 20px solid #6699FF;
  border-bottom: 1px dashed grey;
  border-left: 1px dashed grey;
  border-right: 1px dashed grey;
  width: 120px;
  margin-right: 7px;
  margin-bottom: 7px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  float: left;
  background-color: #ffffff;
}

.container-label{
  color: #AAAAAA;
}

.form_container .container-label{
  float: left;
  display: block;
  width: 100%;
  padding-bottom: 10px;
}
.form_container div.selected {
  background-color: #EFEFEF;
  border-color: #336699 grey grey;
}
.form_instance .remove_form_link,
.page_instance .remove_form_link {
  display: none;
}
.form_container .selected .remove_form_link {
  color: #FFFFAA;
  float: right;
  margin-top: -30px;
  cursor: pointer;
  display: block;
}
.remove_stage_link {
  color: #8b0000;
  float: right;
  font-weight: bold;
  cursor: pointer;
}
.form_instance .form_name {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.object_container {
  width: 31%;
  float: left;
    margin-left: 2%;
}

.object_container .container-label{
  width: 95%;
  margin-left: 5%;
  padding-bottom: 10px;
  float: left;
}
.ui-object-container-hover{
  background-color: #E1FFDE;
  border: 1px solid green;
  border-radius: 10px;
}


.digital_object {
  border: 1px solid #006600;
  padding: 7px 5%;
  background-color: #9FE099;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5px;
  float: left;
  width:80%;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

}

.digital_object:after {
  content: '.';
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
  float: none;
}

.digital_object.selected {
  border-width: 2px;
  
}

.webpage_object {
    border: 1px solid #0089C2;
    padding: 7px 5%;
    background-color: #EEEEFF;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5px;
    float: left;
    width:80%;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

.webpage_object:after {
    content: '.';
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
    float: none;
}

.webpage_object.selected {
    border-width: 2px;

}
.object_name{
}

/*.object_name:after {
  content: '.';
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
  float: none;
}*/

.remove_object_link {
  color: #8b0000;
  float: right;
  font-weight: bold;
  cursor: pointer;
  visibility: hidden;
}

.selected .remove_object_link {
  visibility: visible;
}

.remove_object_link:after {
  content: '.';
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
  float: none;
}

#element_container h3.stage_name.ui-accordion-header {
  background-color: #ffffff;
  margin-bottom: 1px;
}
.stage_content {
  background-color: #ffffff;

}
.stage_content.ui-accordion-content {
  overflow: visible;
}

.form_container {
  width: 66%;
  float: left;
  border-right: 1px solid grey;
}


.stage_content:after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
.item-list ul li.jarrow_add_item, .stage_content li.jarrow_add_item {
  border-top: 20px solid #FFCCCC;
  display: block;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  width: 120px;
  margin-right: 7px;
  margin-bottom: 7px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  float: left;
  background-color: #ffffff;
  font-size: inherit;
}
.item-list li.jarrow_add_object{
  border: 1px solid #006600;
  padding: 7px 5px;
  background-color: #9FE099;
  margin-bottom: 5px;
  list-style: none outside none;
  max-width: 300px;
  cursor: default;
}

.item-list li.jarrow_add_object.ui-draggable-dragging .obj_edit_link {
  visibility: hidden;
}
.jarrow_add_object .obj_edit_link {
  float: right;
}

#collection_form input {
  margin-top: 10px;
}

.object_role_container {
  background-color: #FFFFFF;
  border: 2px ridge;
  clear: both;
  width: 213px;
}
.role_container {
  clear: both;
  background-color: #ffffff;
  border: 2px ridge;
  width: 255px;
}
.role_header {
  clear: both;
  height: 60px;
}
.role_header div {
  float: left;
  width: 20px;
  padding-top: 10px;
  border-left: 1px solid #808080;
  height: 110px;
}
.role_header div span {
  display: block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  writing-mode: tb-lr;
  width: 20px;
  height: 20px;
  white-space: nowrap;
  cursor: default;
}
.role_header div:first-child {
  width: 150px;
  height: 60px;
  border: none;
}
.role_header div:first-child span {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
}
.role_row {
  clear: both;
}
.role_row div:first-child {
  width: 140px;
  padding-left: 10px;
  border-left: none;
  cursor: default;
}
.role_row input {
  margin: 2px;
}
.role_row:hover div {
  background-color: #ddddff;
}
.role_row div:hover {
  background-color: #bbbbff;
}
.role_row div:first-child:hover {
  background-color: #ddddff;
}
.role_row div {
  float: left;
  width: 20px;
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
}
.role_selected_column {
  background-color: #ffdddd;
}

.remove_condition {
    float: right;
    color: #8b0000;
}

.remove_action {
    float: right;
    color: #8b0000;
}

fieldset:hover>div>.remove_condition{

  color: #8b0000;
  cursor: pointer;
  display: block;
}

fieldset:hover>div>.remove_action{
  float: right;
  color: #8b0000;
  cursor: pointer;
  display: block;
}

