#edit-left-panel {
  float: left;
  max-width: 60%
}

#edit-right-panel {
  float: left;
  margin-left: 25px;
  min-width: 30%;
}

.data_model_tree ul li {
    list-style: none outside none;
  background-color: #FFEEEE;
  border: 1px dotted gray;
  font-size: 12pt;
  margin: 5px;
  min-height: 1em;
  padding: 5px 25px;

}

.data_model_tree ul li>div:hover {
  background: inherit;
}